.cardz-container {
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-color: white;
  min-height: 100vh;
  @media (min-width: 648px) {
    padding: 70px 0 1.5rem 0;
  }
}
