<div class="container animate__animated animate__fadeIn" style="background-image: url(assets/background.jpg)">
  <div class="card animate__animated animate__fadeInDown">
    <div class="header">
      <div class="avatar" style="background-image: url(assets/avatar.jpg)"></div>
      <div class="name">Kirito Kirigaya</div>
      <div class="biography">Epéiste, Kirito est un personnage de fiction de l'univers de Sword Art Online.</div>
    </div>
    <div class="body">
      <ul class="links">
        <li class="link-item">
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
          <a href="https://www.youtube.com/watch?v=iik25wqIuFo" target="_blank"><span class="social-icon"><</span>Visitez mon Github pour des projets sympas!</a>
        </li>
      </ul>
    </div>
  </div>
</div>
