<!-- 5. Ajoutez l'image de fond et son animation -->
<div class="container animate__animated">
  <!-- 3. Ajoutez l'animation de la card -->
  <div class="card animate__animated">
    <div class="header">
      <!-- 4. Affichez l'image de l'avatar en background image -->
      <div class="avatar"></div>
      <!-- 1. Affichez le nom -->
      <div class="name">MY NAME</div>
      <!-- 2. Affichez la biographie -->
      <div class="biography">BIOGRAPHY...</div>
    </div>
    <div class="body">
      <ul class="links">
        <!-- 6. Bouclez sur chaque link de la userCard -->
        <li class="link-item">
          <!-- 7. Ajoutez le lien, l'icône et le titre de chaque link item -->
          <a href="#" target="_blank"><span class="social-icon">ICON</span>TITLE</a>
        </li>
      </ul>
    </div>
  </div>
</div>
